<div class='bg-img col-12 vh100 p-0 position-fixed'>
  <div class='bg-black-o col-12 vh100 position-fixed'>
      <div class='col-3 position-relative mt25 mx-auto p-0 text-center'>
        <img src="../../../assets/img/logo-icon.png" width='215' height="215" alt="" class='position-relative mx-auto'>
      </div>
      <div class='col-4 position-relative mt-2 mx-auto p-0 f-es-b fs-t1 c-white text-center'>
        CAMELS
      </div>
      <div class='col-5 position-relative mx-auto p-0 f-es-l fs-3 c-white text-center'> 
        The startup who fails the country so many times that gives no chance for Bolsonaro to retire
      </div>
  </div>
</div>